/* Self-hosted fonts. All latin subsets from Google Fonts, all OFL licensed.
   Inter and Darker Grotesque are variable fonts covering all used weights.
   Jersey 25 replaces FK Raster Roman Compact Smooth (commercial license). */

@font-face {
  font-family: 'Jersey 25';
  src: url('/fonts/Jersey25-400.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-var.woff2') format('woff2');
  font-weight: 400 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Darker Grotesque';
  src: url('/fonts/DarkerGrotesque-var.woff2') format('woff2');
  font-weight: 500 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Space Mono';
  src: url('/fonts/SpaceMono-400.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Space Mono';
  src: url('/fonts/SpaceMono-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'VT323';
  src: url('/fonts/VT323-400.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
